# Core Requirements
# configparser (should be packaged with Python)

# Unit Testing Requirements
mock >= 4
pytest >= 6.2
pytest-cov >= 2.4

# Sandia Repositories
configparserenhanced @ git+ssh://git@gitlab-ex.sandia.gov/trilinos-devops-consolidation/code/ConfigParserEnhanced.git@master#egg=configparserenhanced

